* {
	box-sizing: border-box;
	font-family: 'Ubuntu';
}

body, html { 
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}


/** UNITY **/

#unityContainer {
    width: 768px; 
    height: 520px;
}



/** FOOTER **/

footer {
	position: relative;
	color: gray;
	text-align: center;
	left: 50%;
	margin: 0 auto;
	/* margin-top: 20px; */
	/* margin-bottom: 20px; */
	-webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* bottom: 0px; */

    position: fixed;
    bottom: 10px;
}

/** HEADERS **/
  
header {
	position: fixed;
	width: 100%;
	background-color: #5dc2fc;
	transition: background-color 0.3s linear;
	opacity: 1;
    z-index: 1;
}
  
nav {
    margin: 0;
    padding: 0;
	overflow: hidden;
	text-align: right;
}
  
nav a {
	display: block;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	opacity: 0.6;
	transition: opacity 300ms ease 0ms;
}
  
nav a:hover, header .menu-icon .navicon:hover {
	opacity: 1;
	transition: opacity 300ms ease 0ms;
}

nav a:last-child {
	margin-right: 25px;
}

nav a.active {
	color: #ffffff;
}

header .menu {
	clear: both;
    max-height: 0;
    transition: max-height 1s ease-out;
}

header .menu-icon {
	cursor: pointer;
    display: inline-block;
    float: right;
    padding: 20px 20px;
    position: relative;
    user-select: none;
}
  
header .menu-icon .navicon {
	background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
    opacity: 0.6;
}
  
header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
	background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
  
header .menu-icon .navicon:before {
	top: 5px;
}
  
header .menu-icon .navicon:after {
	top: -5px;
}

header .menu-btn {
	display: none;
}
  
header .menu-btn:checked ~ .menu {
	max-height: 240px;
}
  
header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
} 
  
header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}
  
header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}
  
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}



.webgl-content {
	padding-top: 20px;
}